<form class="example-form">
  <br>
  <div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      <mat-hint>Please enter your Email</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint>Please enter your password</mat-hint>
    </mat-form-field>
  </div>
  <button mat-stroked-button (click)="login()">
    Log In
  </button>
</form>