<div>
<mat-card class="example-card">
  <mat-card-content>
    
    <button (click) = "toRegister()" >
      Register
    </button>-
    <button (click) = "toBooks()" >
      Books
    </button>
    <button *ngIf="!(authService.user | async)" (click) = "toLogin()" >
      Login
    </button>
    <button *ngIf="authService.user | async" (click) = "logOut()" >
      logout
    </button>
</mat-card-content>
</mat-card>

</div>