<p *ngIf="!(authService.user | async)">
  <a *ngIf="!(authService.user | async)" routerLink = "/register">register</a>
   or <a *ngIf="!(authService.user | async)" routerLink = "/login">Login</a>
    to manage your reading list
</p>
<div *ngIf="authService.user | async">
  <h1>Welcome {{(authService.user | async)?.displayName }}!</h1>
</div>

<div>
  <ul>
    <book *ngFor = "let book of books"
          [data] = "book"
          (myButtonClicked) = "showText($event)"></book>
  </ul>
</div>

<div>You've clicked on {{show}}</div>
<br>
<div>
  <mat-form-field>
    <input [(ngModel)] = "task" matInput type = "bookName" placeholder="book Name">
    <mat-hint>book Name</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)] = "task1" matInput type = "authorName" placeholder="author Name">
    <mat-hint>author Name</mat-hint>
  </mat-form-field>
</div>
<br>
<div>
  <button mat-raised-button (click) = "addBook()"> Add Book </button>
</div>
