<li (mouseenter) = "buttonOn()"
    (mouseleave) = "buttonOff()">
    <span *ngIf = "!showEditField" (click) = "showEdit()">{{bookName}}</span>
  <mat-form-field *ngIf = "showEditField">
      <input [(ngModel)]="bookName" matInput> 
  </mat-form-field>
  <mat-form-field *ngIf = "showEditField">
    <input [(ngModel)]="authorName" matInput>
  </mat-form-field>
  <button mat-raised-button *ngIf = "showEditField" (click) = "save()">Save</button>
 

    <button mat-raised-button
            (click) = "delete()"
            *ngIf = "showButton">delete book
    </button>
</li>