<div>
  <form class="example-form">
     <mat-form-field class="example-full-width">
       <input required  [(ngModel)] = "name" name = "name" matInput placeholder="First Name">
     <mat-hint> please enter your name</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input required  [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      <mat-hint> please enter your Email</mat-hint>
    </mat-form-field>
    <p class="error" *ngIf="error.code == 'auth/invalid-email'||'auth/argument-error'">
      {{error.message}}
    </p>
    <mat-form-field class="example-full-width">
      <input required  [(ngModel)] = "nickname" name = "nickname" matInput placeholder="nickname">
      <mat-hint> please enter your nickname</mat-hint>
    </mat-form-field>
   
    <mat-form-field class="example-full-width">
      <input required  [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint> please enter your Password</mat-hint>
    </mat-form-field>
    <p class="error" *ngIf="error.code == 'auth/weak-password'">
      {{error.message}}
    </p>
    <mat-form-field class="example-full-width">
      <input required validateEqual="password" [(ngModel)] = "repassword" name = "repassword" matInput placeholder="rePassword">
      <mat-hint> please enter your Password again</mat-hint>
    </mat-form-field>
    <br>
    <br>
    <br>
    <button mat-stroked-button (click) = "signUp()">Sign up</button>
  </form>
</div>
